<form method="post" action="/autores/modificar">
Ingrese el id del autor a modificar:
<input type="text" name="idAutores" size="5" value="{{idAutores}}">
<br>
<input type="submit" value="buscar">
</form>