<form method="post" action="/autores/eliminar">
Ingrese el id del autor a eliminar:
<input type="text" name="idAutores" size="5" value="{{idAutores}}">
<br>
<input type="submit" value="eliminar">
</form>