<form method="post" action="/autores/incluir">
    Ingrese el nombre del autor:
    <input type="text" name="nombre" size="50">

    <br>

    Ingrese el apellido del autor:
    <input type="text" name="apellido" size="50">

    <br>

    Ingrese la fecha de nacimiento del autor:
    <input type="date" name="fechaNacimiento">

    <br>

    Ingrese la nacionalidad del autor:
    <input type="text" name="nacionalidad" size="50">

    <br>

    Ingrese la mejor obra del autor:
    <input type="text" name="mejorObra" size="50">

    <br>

    Ingrese wel año de publicación de su mejor obra:
    <input type="number" name="anioPublicacion">

    <br>

    Ingrese la edad que tenía el autor cuando publicó su mejor obra:
    <input type="number" name="edadPublicacion">

    <br>

    <input type="submit" value="Agregar">
</form>