<a href="/autores/creartabla">Crear tabla "Autores".</a> <br> <br>
<a href="/autores/incluir">Ingresar datos.</a> <br> <br>
<a href="/autores/listado">Listado de todos los datos.</a> <br> <br>
<a href="/autores/SegListado">Listado de autores con nacionalidad Argentina.</a> <br> <br>
<a href="/autores/TerListado">Listado de autores que hicieron sus mejores obras entre 1960 y 1980.</a> <br> <br>
<a href="/autores/Promedio">Promedio de año de publicación de mejores obras.</a>